@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";
/* @import "@nuxt/ui"; */

/* @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap'); */

@theme {
  /* --font-sans: 'Public Sans', system-ui, sans-serif; */
  /* --font-mono: 'JetBrains Mono', monospace; */
  --font-sora: "Sora", system-ui, sans-serif;
  --color-secondary: #0a9ba3;
  --color-primary: #0a2540;
}

/* @layer components {
  .container {
    margin-left: auto;
    margin-right: auto;

    padding-left: 1rem;
    padding-right: 1rem;

    @media (min-width: 640px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @media (min-width: 1024px) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
} */
body {
  font-family: var(--font-sora);

  scroll-behavior: smooth;
  font-size: 15px;
  /* background-color: white; */
}
